$foreground-color: #dafbff;
$background-color: #a96363;

@mixin primary-text {
    font-size: 1.4rem;
    font-weight: 500;
}

@mixin secondary-text {
    font-size: 1.2rem;
    font-weight: 700;
}

$max-width: 25rem;
$short-screen-cutoff: 42rem;
$desktop-content-height: 30rem;
$element-spacing: 0.5rem;